/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: hsl(0, 100%, 100%);
  border-left: 1px solid hsl(0, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid hsl(0, 100%, 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

body {
  position: relative;
  background: #f9faff;
  height: 1000px;
  min-height: 100vh;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 90px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* CABEÇARIO */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: -50px;

    li {
      list-style: none;
    }

    li:before {
      content: "\2022";
      margin: 0 15px;
      color: #404040;
    }

    li.li-inicio:before {
      color: transparent;
    }

    li a {
      color: #404040;
      font-weight: 400;
    }

    li span {
      position: relative;
      top: -15px;
      font-size: 10px;
      color: #404040;
      font-weight: 400;
    }

    li a.a-inicio {
      position: relative;
      top: -5px;
    }

    li a.a-inicio:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 3px;
      border-radius: 5px;
      transform-origin: right;
      transform: scaleX(1);
      transition: transform 0.5s;
      background: linear-gradient(to right, #0d0d0d80, transparent);
    }
  }

  .logo-main .logo {
    font-size: 25px;
    font-weight: 600;
    color: #101010;
  }

  .outher {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .menu {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background: #101010;
      height: 50px;
      padding: 0px 20px;
      border-radius: 100px;
      margin-right: 10px;

      h1 {
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        margin-left: 10px;
      }

      i {
        font-size: 15px;
        color: #fff;
      }
    }
  }

  .outher a.outher-box .box-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #59595973;
    background: #fff;
    cursor: pointer;

    ion-icon {
      color: #404040;
      font-size: 30px;
    }
  }
}

header.header.a {
  padding: 20px 10px;
  margin-top: 10px;
  z-index: 99;
  width: 95%;
  margin-left: 10px;
  backdrop-filter: blur(50px);
  background: #ffffff57;
  border-radius: 100px;
  border: 1px solid #25252557;

  .nav {
    li a {
      color: #101010;
      font-weight: 400;
    }

    .li-inicio:before {
      content: "";
    }

    li:before {
      color: #101010;
    }
  }

  .outher {
    a.outher-box {
      .box-nav {
        background: transparent;
        border: 1px solid #101010;

        ion-icon {
          color: #101010;
        }
      }
    }
  }
}

#inicio {
  padding: 150px 0 26px;

  .main {
    display: flex;
    justify-content: space-between;

    .inicio-main-text {
      display: flex;
      flex-direction: column;
      margin-right: 35px;

      .p-inform {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 40px;
        width: 500px;
        z-index: -99;
      }

      .p-inform:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 60%;
        height: 3px;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(1);
        transition: transform 0.5s;
        background: linear-gradient(to right, #0d0d0d80, #fff);
      }

      .outher-titulo {
        max-width: 500px;
        font-weight: 500;
        font-size: 55px;
        color: #101010;

        span.outher {
          font-size: 55px;
          color: #101010;
        }

        span.circle {
          border: 1px solid #59595973;
          border-radius: 50px;
          color: #101010;
        }
      }

      .inicio-text {
        display: flex;
        align-items: center;
        flex-direction: row;

        .text {
          display: flex;
          justify-content: left;
          flex-direction: column;

          .division {
            display: flex;
          }

          .icon-inicio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 1px solid #59595973;
            border-radius: 100px;
            margin-right: 20px;

            i {
              color: #101010;
              font-size: 30px;
            }
          }

          .titulo {
            max-width: 500px;
            font-weight: 500;
            font-size: 55px;
            color: #101010;
          }
        }
      }

      p.paragrafo {
        font-size: 14px;
        font-weight: 400;
        margin: 21px 0px;
        color: #404040;
        max-width: 430px;

        span {
          position: relative;
        }

        span:before {
          content: "\2022";
          margin-right: 10px;
          color: #404040;
        }
      }

      .touch-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 25px;
        margin-bottom: 20px;

        .touch {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          background: #101010;
          color: #fff;
          height: 55px;
          padding: 0px 35px;
          border-radius: 50px;
          margin-right: 20px;

          p {
            margin-right: 10px;
            font-weight: 300;
          }

          i {
            font-size: 15px;
          }
        }
      }
    }

    .inform-tec {
      width: 100%;
      height: 50px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      display: none;

      .box-tec {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #101010;
        margin-right: 10px;

        img {
          width: 50%;
        }

        i {
          font-size: 25px;
        }
      }
    }
  }

  .projeto-destacado {
    margin-top: -19px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .box-projeto {
      width: 350px;
      height: 450px;
      background: #101010;
      border-radius: 10px;
      transform: skewX(-3deg);
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);

      .categoria {
        position: absolute;
        top: 10px;
        left: 10px;
        background: #222222;
        color: #666;
        width: 90px;
        height: 25px;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        z-index: 1;
      }

      .categoria:hover {
        background: #fff;
        color: #101010;
      }

      .img {
        position: relative;
        margin: 10px;
        width: 95%;
        height: 70%;
        border-radius: 10px 10px 0px 0px;

        .tecnologias {
          position: absolute;
          bottom: -15px;
          right: 0;
          height: 30px;
          display: flex;
          align-items: center;

          .box-t {
            background: #222222;
            width: 35px;
            margin-left: 4px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 50%;
            }
          }
        }
      }

      .content-text {
        margin: -3px 0px 0px 10px;

        h1.titulo {
          margin-left: 10px;
          margin-bottom: 10px;
          font-weight: 500;
          font-size: 20px;
          color: #fff;
        }

        p.paragrafo {
          font-weight: 400;
          font-size: 10px;
          color: #666;
        }

        .user-inform {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 95%;
          margin-top: 10px;

          .user {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .img-user {
              width: 25px;
              height: 25px;
              margin-right: 5px;
              background: red;
              border-radius: 100px;
            }

            .name {
              color: #fff;
              font-weight: 500;
              font-size: 14px;
            }
          }

          .touch {
            background: #fff;
            border-radius: 10px;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-top: 3px;
          }

          .touch:hover {
            background: #222222;
            color: #666;
          }
        }
      }
    }

    .box-projeto.outher {
      position: absolute;
      background: #fff;
      bottom: 15px;
      left: 15px;
      box-shadow: none;
      border: 2px solid #101010;
    }
  }
}

/* QUALITY */

#quality {
  margin-top: 50px;
  padding: 60px 0 60px;
  background: #101010;

  .main-t {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1.titulo {
      font-size: 50px;
      background: linear-gradient(to right, #67565657 20%, #e6e8f1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p.paragrafo {
      text-align: center;
      font-size: 11px;
      font-weight: 400;
      margin: 21px 0px;
      color: #404040;
      max-width: 550px;
    }
  }

  .main-of-box {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .box-of-inform {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-top: 20px;
      width: 100%;
      height: 100px;
      padding: 0px 20px;
      border-bottom: 1px solid #25252557;

      .content-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        h2.number {
          color: #67565657;
          font-size: 25px;
          margin-right: 10px;
        }

        h1.inform {
          color: #e6e8f1;
          font-size: 30px;
        }
      }

      p.p-inform {
        font-size: 11px;
        font-weight: 400;
        margin: 21px 0px;
        color: #404040;
        max-width: 450px;
      }
    }

    .box-of-inform.better {
      background: #25252557;
      border-bottom: none;

      h2.number {
        color: #666;
      }

      h1.inform {
        color: #fff;
      }
    }
  }
}

/* SKILLS */

#skills {
  margin-top: 50px;
  padding: 60px 0 80px;
  background: #101010;

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1.titulo {
      font-size: 50px;
      background: linear-gradient(to right, #67565657 20%, #e6e8f1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p.paragrafo {
      text-align: center;
      font-size: 11px;
      font-weight: 400;
      margin: 21px 0px;
      color: #404040;
      max-width: 595px;
    }

    .box-tec {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      background: #25252557;
      margin-left: 5px;

      i {
        font-size: 50px;
        color: #404040;
      }

      h1.nome {
        position: absolute;
        top: 100px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        color: #66666685;
      }

      img {
        width: 50%;
      }
    }
  }
}

/* PROJETOS */

#projeto {
  padding: 75px 0 40px;

  .main-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1.titulo {
      font-size: 50px;
      margin-bottom: 20px;
      background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .main-touch {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background: #101010;
      border-radius: 100px;

      .touch {
        padding: 0px 20px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        cursor: pointer;
        color: #666;
        font-size: 12px;
        font-weight: 500;
      }

      .touch.a {
        background: linear-gradient(90deg, #10101052, #3d3d3d, #101010);
        color: #fff;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .categoria {
    position: relative;
    right: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    .box {
      position: relative;
      background: #101010;
      color: #fff;
      font-weight: 400;
      font-size: 13px;
      padding: 0px 40px;
      height: 40px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      cursor: pointer;
    }

    .box.o {
      background: transparent;
      border: 1px solid #101010;
      color: #101010;
    }

    .contador {
      position: absolute;
      top: -5px;
      left: -5px;
      font-weight: 400;
      font-size: 10px;
      background: #fff;
      color: #666;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #222222;
      border: 1px solid #101010;
    }

    .contador.o {
      background: #101010;
      color: #fff;
      display: none;
    }
  }

  .projeto-destacado {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .box-projeto.a {
      background: #7d715f;

      .categoria {
        .paragrafo {
          color: #e6e8f1;
        }

        .main-box {
          .box-cat {
            background: #e6e8f1;
          }
        }

        .tecnologias {
          .box-tec {
            border: 1px solid #7d715f;
          }
        }
      }
    }

    .box-projeto {
      position: relative;
      width: 450px;
      height: 450px;
      border-radius: 25px;
      background: #e6e8f1;
      cursor: pointer;
      overflow: hidden;
      margin: 0px 5px;

      img.projeto {
        position: relative;
        top: 15px;
        width: 100%;
      }

      .inform {
        position: absolute;
        bottom: 90px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        width: 100%;

        .img {
          position: relative;
          top: -5px;
          border-radius: 15px;
          width: 60px;
          height: 60px;
          margin-right: 15px;
          background: #7d715f;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 10px;
          color: #666;

          img {
            width: 70%;
          }

          i {
            margin-left: 5px;
            color: #ffffffaf;
          }
        }
      }

      .categoria {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 90%;
        display: flex;
        flex-direction: column;

        .tecnologias {
          position: absolute;
          bottom: -10px;
          right: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .box-tec {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            background: #222222;
            margin-bottom: 10px;
            margin-right: -5px;
            border: 1px solid #e6e8f1;

            i {
              font-size: 15px;
            }

            img {
              width: 60%;
            }
          }
        }

        .paragrafo {
          margin: 0px 0px 15px 5px;
          font-size: 9px;
          font-weight: 500;
          color: #222222;
        }

        .main-box {
          display: flex;
          flex-direction: row;

          .box-cat {
            background: #fff;
            color: #101010;
            padding: 0px 15px;
            height: 30px;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            z-index: 1;
          }

          .box-cat.o {
            background: #7d715f;
            color: #fff;
            font-size: 10px;
          }
        }
      }
    }
  }
}

/* PERGUNTAS */
#perguntas {
  padding: 60px 0 60px;

  .first-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text-content {
      text-align: center;
      margin-bottom: 30px;

      h4 {
        margin-bottom: 30px;
        color: #737373;
      }

      h1 {
        font-size: 50px;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        text-align: center;
        font-size: 11px;
        margin: 21px 0px;
        font-weight: 500;
        color: #404040;
        max-width: 595px;
      }
    }

    .box.e {
      background: #101010;

      h1 {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }

    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 600px;
      height: 70px;
      padding: 0px 20px;
      border-radius: 20px;
      background: #e6e8f1;
      cursor: pointer;
      margin-bottom: 10px;

      h1 {
        color: #404040;
        font-weight: 500;
        font-size: 15px;
      }
    }

    h5 {
      color: #404040;
      margin-top: 10px;
      font-weight: 500;
      cursor: pointer;

      span {
        color: #101010;
        font-weight: 700;
      }
    }
  }
}

/* FOOTER */
#footer {
  padding: 20px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;

  .main-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-bottom: 35px;
    margin-top: 20px;

    i.fa-solid {
      font-size: 14px;
      color: #101010;
    }

    i.fa-solid.fa-chevron-down {
      font-size: 10px;
    }

    h1.logo {
      font-size: 25px;
      font-weight: 700;
      background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .touch {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 15px;
      height: 50px;
      border: 1px solid #404040;
      border-radius: 100px;
      cursor: pointer;

      h1 {
        font-size: 13px;
        margin: 0px 15px 0px 10px;
        color: #101010;
      }
    }
  }

  .main-content-li {
    width: 92%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid #25252557;
    border-bottom: 1px solid #25252557;

    .content-box {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-left: 25px;
      height: 150px;
      margin-bottom: 30px;

      h1 {
        font-size: 14px;
        margin: 3px 0px;
        font-weight: 800;
        color: black;
      }

      a {
        font-size: 13px;
        margin: 5px 0px;
        font-weight: 500;
        color: #404040;
      }
    }
  }

  .main-penultimate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-top: 40px;

    .text-content {
      h1 {
        font-size: 50px;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        font-size: 11px;
        margin: 21px 0px;
        font-weight: 500;
        color: #404040;
        max-width: 395px;
      }
    }

    .box-contato {
      h1 {
        color: #101010;
        font-size: 15px;
        margin-bottom: 15px;
      }

      .row {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 15px;

        input {
          background: #e6e8f1;
          width: 200px;
          padding: 0px 15px;
          height: 50px;
          border: none;
          border-radius: 100px;
          margin-right: 10px;
          font-family: "Montserrat", sans-serif;
        }

        .touch {
          background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
          color: #fff;
          cursor: pointer;
          width: 120px;
          height: 50px;
          border: none;
          border-radius: 100px;
          font-family: "Montserrat", sans-serif;
        }
      }

      p {
        font-size: 11px;
        font-weight: 500;
        margin: 21px 0px;
        color: #404040;
        max-width: 550px;

        span {
          font-weight: 700;
          color: #101010;
        }
      }
    }
  }
}

/* RESPONSIVO */

/* CABEÇARIO */
@media (max-width: 900px) {
  header.header.a {
    padding: 20px 35px;
  }
}

@media (max-width: 825px) {
  header.header {
    .nav {
      display: none;
      position: absolute;
      top: 90px;
      left: 60%;
      transform: translate(-50%);
      background: #101010;
      width: 140px;
      height: 120px;
      border-radius: 10px;
      justify-content: center;
      align-items: normal;
      text-align: left;
      flex-direction: column;
      z-index: 99;

      li {
        span {
          display: none;
        }

        a {
          margin-left: 20px;
        }
      }

      li:before {
        content: "";
        margin: 0px;
      }
    }

    .nav.active {
      display: flex;
    }

    .outher {
      .menu {
        display: flex;
        cursor: pointer;
      }
    }
  }

  header.header.a {
    .nav {
      top: 80px;
      left: 57%;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);

      li {
        a {
          color: #404040;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  header.header {
    .outher {
      .menu {
        display: flex;
        cursor: pointer;
        margin-right: 5px;

        h1 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 495px) {
  header.header.a {
    padding: 20px 15px;
  }
}

@media (max-width: 450px) {
  header.header.a {
    padding: 20px 15px;
  }

  header.header {
    .outher {
      .outher-box.a {
        .box-nav {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  header.header.a {
    padding: 20px 15px;
  }

  header.header {
    .outher {
      .outher-box.b {
        .box-nav {
          display: none;
        }
      }
    }
  }
}

/* INICIO */

@media (max-width: 953px) {
  #inicio {
    .projeto-destacado {
      .box-projeto.outher {
        left: 25%;
      }
    }
    .main {
      flex-direction: column;

      .inicio-main-text {
        margin-right: 0px;
        margin-bottom: 50px;

        .p-inform {
          left: 30px;
          width: 450px;
        }

        .touch-content {
          justify-content: center;
        }

        .inicio-text {
          .text {
            justify-content: center;
            align-items: center;
            text-align: center;

            .titulo {
              max-width: 500px;
              font-size: 65px;
            }
          }
        }

        .outher-titulo {
          max-width: 600px;
          font-size: 65px;

          span.outher {
            font-size: 65px;
          }
        }
      }
    }
  }
}

@media (max-width: 605px) {
  #inicio {
    .projeto-destacado {
      .box-projeto.outher {
        left: 20%;
      }
    }
    .main {
      .inicio-main-text {
        .inicio-text {
          & .text {
            .titulo {
              max-width: 500px;
              font-size: 55px;
            }
          }
        }
        .p-inform {
          left: 30px;
          width: 300px;
        }
        .outher-titulo {
          font-size: 50px;
          max-width: 500px;

          span.outher {
            font-size: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #inicio {
    .projeto-destacado {
      .box-projeto.outher {
        left: 10%;
      }
    }
    .main {
      .inicio-main-text {
        .p-inform {
          margin-bottom: 45px;
        }

        .touch-content {
          .touch {
            padding: 0px 25px;
            font-size: 12px;
            margin-right: 10px;
          }
        }

        .inicio-text {
          .text {
            .titulo {
              max-width: 500px;
              font-size: 40px;
            }

            .icon-inicio {
              position: relative;
              top: -40px;
              margin-bottom: -37px;
              margin-top: 20px;
            }
          }
        }
        .p-inform {
          left: 20px;
          width: 300px;
        }
        .outher-titulo {
          font-size: 40px;
          max-width: 400px;

          span.outher {
            font-size: 40px;
          }
        }

        p.paragrafo {
          font-size: 13px;
          max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  #inicio {
    & .projeto-destacado {
      .box-projeto {
        margin: -20px 0px;
        transform: scale(0.8) skewX(-3deg);
      }
    }
  }

  #inicio {
    & .main {
      & .inicio-main-text {
        .p-inform {
          left: 20px;
          width: 300px;
        }
      }
    }
  }

  #inicio {
    & .main {
      & .inicio-main-text {
        & .inicio-text {
          & .text {
            .titulo {
              max-width: 500px;
              font-size: 35px;
            }
          }
        }
      }
    }
  }

  #inicio {
    & .main {
      & .inicio-main-text {
        .outher-titulo {
          font-size: 35px;
          max-width: 350px;
        }
      }
    }
  }

  #inicio {
    & .main {
      & .inicio-main-text {
        & .outher-titulo {
          span.outher {
            font-size: 35px;
          }
        }
      }
    }
  }

  #inicio {
    & .main {
      & .inicio-main-text {
        p.paragrafo {
          font-size: 12px;
          max-width: 350px;
        }
      }
    }
  }

  #inicio {
    & .projeto-destacado {
      .box-projeto.outher {
        left: 5%;
      }
    }
  }
}

/* QUALITY */
@media (max-width: 850px) {
  #quality {
    .main-of-box {
      width: 95%;
    }

    .main-of-box {
      .box-of-inform {
        p.p-inform {
          font-size: 11px;
          font-weight: 400;
          margin: 21px 0px;
          color: #404040;
          max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  #quality {
    .main-of-box {
      width: 95%;
    }

    .main-of-box {
      .box-of-inform {
        margin: 20px 0px -20px 0px;
        flex-direction: column;
        height: 140px;
      }

      .content-text {
        margin: 20px 0px -20px 0px;
      }

      .box-of-inform {
        p.p-inform {
          max-width: 90%;
        }
      }
    }
  }
}

@media (max-width: 570px) {
  #quality {
    .main-t {
      p.paragrafo {
        font-size: 10px;
        max-width: 90%;
      }

      h1.titulo {
        font-size: 43px;
        background: linear-gradient(to right, #67565657 20%, #e6e8f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .main-of-box {
      .content-text {
        margin: 20px 0px -10px 0px;
      }
    }
  }
}

@media (max-width: 437px) {
  #quality {
    .main-t {
      h1.titulo {
        font-size: 35px;
        background: linear-gradient(to right, #67565657 20%, #e6e8f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/* PROJETOS */
@media (max-width: 935px) {
  #projeto {
    .projeto-destacado {
      .box-projeto {
        position: relative;
        width: 450px;
        height: 450px;
        border-radius: 25px;
        background: #e6e8f1;
        cursor: pointer;
        overflow: hidden;
        margin: 15px 5px;
      }
    }
  }
}

@media (max-width: 650px) {
  #projeto {
    .main-projeto {
      h1.titulo {
        font-size: 35px;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media (max-width: 475px) {
  #projeto {
    .projeto-destacado {
      width: 95%;

      .box-projeto {
        width: 100%;
      }
    }
  }
}

@media (max-width: 445px) {
  #projeto {
    .main-projeto {
      h1.titulo {
        font-size: 25px;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/* SKILLS */
@media (max-width: 850px) {
  #skills {
    padding: 60px 0 0px;
    .main {
      .box-tec {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background: #25252557;
        margin-left: 5px;
        margin-bottom: 50px;
      }

      p.paragrafo {
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        margin: 21px 0px;
        color: #404040;
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 350px) {
  #skills {
    .main {
      h1.titulo {
        font-size: 30px;
        background: linear-gradient(to right, #67565657 20%, #e6e8f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/* PERGUNTAS */
@media (max-width: 635px) {
  #perguntas {
    .boxs-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95%;
    }
    .first-content {
      .box {
        width: 100%;
      }
    }
  }
}

@media (max-width: 610px) {
  #perguntas {
    .first-content {
      .text-content {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;

        h4 {
          margin-bottom: 15px;
          color: #737373;
        }

        h1 {
          font-size: 40px;
          margin-bottom: 5px;
          background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          text-align: center;
          font-size: 11px;
          margin: 21px 0px;
          font-weight: 500;
          color: #404040;
          max-width: 90%;
        }
      }
    }
  }
}

@media (max-width: 485px) {
  #perguntas {
    .first-content {
      .text-content {
        h1 {
          font-size: 31px;
        }
      }

      .box {
        h1 {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #perguntas {
    .first-content {
      .text-content {
        h1 {
          font-size: 22px;
          margin-bottom: -5px;
        }
      }
      h5 {
        font-size: 10px;
      }
    }
  }
}

/* FOOTER */
@media (max-width: 915px) {
  #footer {
    .main-penultimate {
      .text-content {
        p {
          max-width: 400px;
        }

        h1 {
          font-size: 35px;
        }
      }
    }
  }
}

@media (max-width: 855px) {
  #footer {
    .main-content-li {
      width: 92%;
      display: flex;
      flex-wrap: wrap;

      .content-box {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 15px;
        height: 150px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 800px) {
  #footer {
    .main-penultimate {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;

        h1 {
          margin-bottom: -10px;
          font-size: 50px;
        }
      }

      .box-contato {
        .row {
          input {
            background: #e6e8f1;
            width: 334px;
            padding: 0px 15px;
            height: 50px;
            border: none;
            border-radius: 100px;
            margin-right: 10px;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }
}

@media (max-width: 515px) {
  #footer {
    .main-penultimate {
      .text-content {
        p {
          max-width: 350px;
          font-size: 10px;
        }

        h1 {
          margin-bottom: -10px;
          font-size: 35px;
        }
      }

      .box-contato {
        .row {
          input {
            background: #e6e8f1;
            width: 220px;
            padding: 0px 15px;
            height: 50px;
            border: none;
            border-radius: 100px;
            margin-right: 10px;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }
}

@media (max-width: 395px) {
  #footer {
    .main-penultimate {
      .box-contato {
        margin-left: 20px;
        width: 100%;
      }
      & .box-contato {
        .row {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  #footer {
    .main-penultimate {
      .text-content {
        h1 {
          font-size: 25px;
        }
        p {
          max-width: 250px;
          font-size: 9px;
        }
      }
    }
  }
}

@media (max-width: 310px) {
  #footer {
    .main-penultimate {
      .text-content {
        h1 {
          font-size: 25px;
        }
        p {
          max-width: 250px;
          font-size: 9px;
        }
      }
    }
    .main-first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 90%;
      margin-bottom: 35px;
      margin-top: 20px;
    }
    h1.logo {
      font-size: 30px;
      font-weight: 700;
      background: linear-gradient(90deg, #101010, #3d3d3d, #101010);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 20px;
    }
  }
}

/* ARRUMAR O CONTEUDO && MODAL && FUNÇÃO */
